* {
    background-color: rgb(176, 203, 246);
    font-family: "Georgia", serif;
}

h1 {
    font-size: 45px;
    text-align: center;
    font-weight: 800;
}

div {
    text-align: center;
}

img {
    height: auto;
    width: 500px;
}